#btn{
    background-color: pink;
    color: brown;
    width: 150px;
    height: 150px;
    font-family: cursive;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}